.navigator{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*flex-flow: column wrap;*/
	justify-content: flex-end;
	background: deepskyblue;
	list-style: none;
	/*padding: 15px;*/
}

@media all and (max-width: 800px) and (min-width: 600px){
	.navigator{
		display: flex;
		justify-content: space-around;
	}
}

@media all and (max-width: 600px){
	.navigator{
		display: flex;
		-webkit-flex-flow: column wrap;
		flex-direction: column;
		padding: 0;

	}
}

.navigator a{
	text-decoration: none;
	text-align: center;
	padding: 1em;
	color: white;
	font-size: 15px;
	display: inline-block;
	
}
